@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBF7;
  --foreground: #1C1917;

  --font-inter: var(--font-inter);
  --font-merriweather: var(--font-merriweather);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  font-family: var(--font-merriweather), serif;
}